* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    /*
    background: #6A4C9C;
    background-color: #151515; 

    background: linear-gradient(135deg, #8E44AD, #27AE60);   
    
    background: linear-gradient(135deg, #6A4C9C, #4A90E2);
    
    background: linear-gradient(180deg, #6A4C9C, #2C3E50);
    
    background: linear-gradient(180deg, #6A4C9C, #2C3E50);
    
    background: radial-gradient(circle at 30% 30%, #8E44AD, transparent),
    radial-gradient(circle at 70% 70%, #27AE60, transparent),
    radial-gradient(circle at 50% 50%, #6A4C9C, transparent),
    conic-gradient(from 0deg, #8E44AD, #27AE60, #6A4C9C, #8E44AD);
    background-blend-mode: screen;
    */
    background: radial-gradient(circle, #6A4C9C 5%, #2C3E50 95%);
    
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
}

:root {
    --color-highlight: #6A4C9C; 
    --color-box: #202020; 
    --color-word: #fafafa; 
}

.container {
    display: flex; 
    flex-direction: row; 
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem; 
    border-radius: 20px;
    background-color: #000000a6;
}

.content {
    display: flex; 
    flex: 1; 
    flex-direction: column;
    gap: 1rem;
}

.widget1 {
    width: 100%;
    height: 16%;
    background-color: var(--color-box);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.widget1 img {
    width: 100%;
    border-radius: 8px;
}

.info-user {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 0.6rem;
}

.img-user {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    border: 2px solid var(--color-highlight);
}

.name-user h1 {
    font-size: 1.2rem;
    color: var(--color-word);
    padding-bottom: 0.2rem;
    font-weight: bold;
}

.name-user span {
    color: #fafafab4;
    font-size: 0.8rem;
}

.info-icon {
    width: 18%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-icon img {
    width: 120%;
    /*animation: rotate 5s linear infinite;*/
}

.widget2 {
    width: 100%;
    height: 16%;
    background-color: var(--color-box);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-skills {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.4rem;
}

.destaque {
    color: var(--color-highlight);
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

.skills-icons {
    width: 100%;
    display: inline-block;
    text-align: center; 
    gap: 10px; 
}

.skills-icons i {
    font-size: 2rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
}

.skills-icons i:hover {
    cursor: pointer;
    transform: scale(1.1); /* Efeito de zoom */
}

.skills-icons .devicon-html5-plain:hover {
    color: #e34f26;
}

.skills-icons .devicon-css3-plain:hover {
    color: #1572b6;
}

.skills-icons .devicon-javascript-plain:hover {
    color: #f7df1e;
}

.skills-icons .devicon-bootstrap-plain:hover {
    color: #7952b3;
}

.skills-icons .devicon-angular-plain:hover {
    color: #dd1b16;
}

.skills-icons .devicon-typescript-plain:hover {
    color: #3178c6;
}

.skills-icons .devicon-tailwindcss-plain:hover {
    color: #38b2ac;
}

.skills-icons .devicon-dotnetcore-plain:hover {
    color: #512bd4;
}

.skills-icons .devicon-nodejs-plain:hover {
    color: #339933;
}

.skills-icons .devicon-java-plain:hover {
    color: #e61515;
}

.skills-icons .devicon-mysql-plain:hover {
    color: #00758f;
}

.skills-icons .devicon-postgresql-plain:hover {
    color: #004f8f;
}

.skills-icons .devicon-mongodb-plain:hover {
    color: #47a248;
}

.skills-icons .devicon-github-original:hover {
    color: #3a3a3a;
}

.skills-icons .devicon-wordpress-plain:hover {
    color: #21759b;
}

.skills-icons .devicon-ionic-original:hover {
    color: #2d54ff;
}

.skills-icons .devicon-csharp-plain:hover {
    color: #710f85;
}

.skills-icons .devicon-cplusplus-plain:hover {
    color: #323492;
}

.skills-icons .devicon-git-plain:hover {
    color: #f85307;
}

.skills-icons .devicon-gitlab-plain:hover {
    color: #f85307;
}

.skills-icons .devicon-microsoftsqlserver-plain:hover {
    color: #3a3a3a;
}

.skills-icons .devicon-react-original:hover {
    color: #30e5f1;
}

.skills-icons .devicon-spring-original:hover {
    color: #47a248;
}

.skills-icons .devicon-python-plain:hover {
    color: #f7df1e;
}

.skills-icons .devicon-azure-plain:hover {
    color: #21759b;
}

.skills-icons .devicon-amazonwebservices-plain-wordmark:hover {
    color: #f3aa23;
}

.widget3 {
    height: 100%;
    height: 32%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.brand {
    border-radius: 12px;
    background-color: var(--color-box);
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.8rem;
}

.text-brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-brand h1 {
    padding-bottom: 0.3rem;
    color: var(--color-word);
    font-weight: bold;
    font-size: 1rem;
}

.text-brand span {
    color: #fafafab4;
    font-size: 0.8rem;
}

.img-brand {
    width: 100%;
    height: 100px;
    background-image: url(/img/bac.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.img-brand img {
    width: 50%;
}

.redes-sociais {
    border-radius: 12px;
    width: 50%;
    height: 185px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.redes-sociais a {
    background-color: var(--color-box);
    border-radius: 10px;
    width: 45%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.redes-sociais i {
    font-size: 2.8rem;
    color: var(--color-word);
}

.redes-sociais .tiktok:hover i {
    color: #f07eff;
    transition: color 0.3s;
}

.redes-sociais .instagram:hover i {
    color: #962fbf;
    transition: color 0.3s;
}

.redes-sociais .github:hover i {
    color: #3a3a3a;
    transition: color 0.3s;
}

.redes-sociais .steamcommunity:hover i {
    color: #1b2838;
    transition: color 0.3s;
}

.redes-sociais .linkedin:hover i {
    color: #0077B5;
    transition: color 0.3s;
}

.redes-sociais .email:hover i {
    color: #DB4437;
    transition: color 0.3s;
}

.redes-sociais .spotify:hover i {
    color: #1ED760;
    transition: color 0.3s;
}

.redes-sociais .cv:hover i {
    color: #fff27e;
    transition: color 0.3s;
}

.widget4 {
    width: 100%;
    height: 16%;
    background-color: var(--color-highlight);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-box);
    padding: 1rem;
}

.meu-site {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.meu-site img {
    width: 50px;
    height: 50px;
}

.meu-site h1 {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-box);
}

.widget5 {
    width: 100%;
    height: 16%;
    background-color: var(--color-box);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-word);
    padding: 1rem;
}

.widget6 {
    width: 100%;
    height: 32%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1e1e1e;
}

.widget6 h1 {
    color: #ffffff;
    font-size: 1rem;
    padding-top: 1rem;
}

/* ANIMAÇÕES */
.widget1,
.widget2,
.brand,
.box-social,
.widget4,
.widget5 {
    transition: transform 0.3s ease;
}

.widget1:hover,
.widget2:hover,
.brand:hover,
.box-social:hover,
.widget4:hover,
.widget5:hover {
    transform: translateY(-5px);
}

.meu-site img,
.freelancer img {
    animation: pulse 3s infinite ease-in-out;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2C3E50;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc(3 * var(--offset) + var(--square));
    height: calc(2 * var(--offset) + var(--square));
    padding: 0px;
    position: relative;
}

.loadingspinner div {
    display: inline-block;
    background: #6A4C9C;
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
}

.loadingspinner #square1 {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

/* Estilos da animação */

@keyframes square1 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square2 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(2 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
}

@keyframes square3 {
    0%, 100% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square4 {
    0% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(2 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes square5 {
    0% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(0 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    100% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}